<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @interaction.description %>
</p>

<p>
  <strong>Interaction:</strong>
  <%= @interaction.interaction %>
</p>

<%= link_to 'Edit', edit_interaction_path(@interaction) %> |
<%= link_to 'Back', interactions_path %>
