<!DOCTYPE html>
<html>
<head>
  <title>Poly</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>
	<nav>
    <div>
      <ul>
        <li><%= link_to "People", people_path %></li>
        <li><%= link_to "Businesses", businesses_path %></li>
      </ul>
    </div>
  </nav>

<div>
	<%= yield %>
</div>

</body>
</html>
